= link_to 'My Albums', albums_path, :class => 'btn btn-default'
= link_to 'All Albums', 'home/allalbum', :class => 'btn btn-default'
- @images.each do |image|
  %br
  %tr
    / %td= image.user.email
    / %td= image.name
    / %td= image.tag_line
    / %td= l image.created_at, format: :long
    %td= image_tag image.avatar.url(:medium)
    %td
  %br 